<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  <servlet-name>adding</servlet-name>
  <servlet-class>com.servlet.working.addServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>adding</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>product</servlet-name>
  <servlet-class>com.servlet.working.squareServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>product</servlet-name>
  <url-pattern>/SQUARING</url-pattern>
  </servlet-mapping>
 
</web-app>
